
name: CI Pipeline

on:
  push:
    branches: ["main"]
  

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup node
        # uses: denoland/setup-deno@v1
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # Uncomment this step to verify the use of 'deno fmt' on each commit.
      # - name: Verify formatting
      #   run: deno fmt --check

      - name: Run linter
        run: deno lint

      - name: Run tests
        run: deno test -A
